body {
	font-family:helvetica;
}

#squarefree {
	background:red;
	text-align:center;
	font-weight:bold;
}

#bingotable {
	width:400px;
	height:400px;
	border-collapse:collapse;
}

th, td {
	border: 1px solid black;
	width: 20%;
}

.orange {
	background:orange;
}